---
import "../styles/global.css"
import Background from "../components/background.astro"
import Info from "../components/info.astro"
import Logo from "../components/logo.astro"
const allPosts = Object.values(import.meta.glob("/src/pages/posts/*.md",{eager:true}));
const { frontmatter } = Astro.props;
const colors = {
    "AI": "#FFC1C1",
    "GFX": "#71B1E4",
    "BOTH": "#FFFCCC",
    "ANY": "#CCF7B6"
}
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Ascene</title>
	</head>
	<body>
        <Background/>
        <Logo/>
        <Info allPosts={allPosts}/>
        <main>
            <div id="blog-post-headers">
                <div class="blog-post-header">
                    <a href="/">home</a>/<a href={frontmatter.url}>{frontmatter.title.toLowerCase().split(' ').join('-')}</a>
                </div>
                <div class="blog-post-header">{frontmatter.date}</div>
            </div>
            <section id="blog-post-container" style={`--post-bg: ${colors[String(frontmatter.type)]}`}>
                <slot />
            </section>
        </main>
    </body>
</html>

<style>
#blog-post-headers {
    display:flex;
    justify-content:space-between;
}
.blog-post-header{
    background-color: white;
    padding: 8px 16px;
    height: 64px;
    box-sizing: border-box;
    border-radius: 16px;
}
#blog-post-container{
    position: relative;
    top: -32px;
    width: var(--postWidth);
    background-color: var(--post-bg);
    box-sizing: border-box;
    padding: 32px;
    border-radius: 16px;
    box-shadow: 0 2.5px 5px rgba(0, 0, 0, 0.15);
}
</style>
