---
import "../styles/global.css"
const {allPosts} = Astro.props;
const colors = {
    "AI": "#FFC1C1",
    "GFX": "#71B1E4",
    "BOTH": "#FFFCCC",
    "ANY": "#CCF7B6"
}
---

<ul id="posts">
    {allPosts.map((post)=><a href={post.url}>
        <li class="post" style={`--post-bg: ${colors[String(post.frontmatter.type)]}`}>
            <h3><span>{post.frontmatter.title}</span><span>{post.frontmatter.date}</span></h3>
            <p>{post.frontmatter.summary}</p>
        </li></a>)}
</ul>

<style>
    h3{
        display: flex;
        justify-content: space-between;
        font-weight: 100;
    }

    #posts{
        width: var(--postWidth);
        padding: 0;
        margin: 0;
    }

    .post{
        display: flex;
        flex-direction: column;
        gap: 16px;
        list-style:none;
        width: var(--postWidth);
        background-color: var(--post-bg);
        height: var(--postHeight);
        border-radius: 16px;
        box-sizing: border-box;
        margin-bottom: 48px;
        padding:32px;
        transition: all 0.1s ease-in-out;
        &:hover {
            transform: translateY(-2px);
            box-shadow: 0 2.5px 5px rgba(0, 0, 0, 0.15);
        }
    }
</style>